@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #F0F2F5;
}