@import "tailwindcss";

@theme {
    --color-mud: #4F4F52
}

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #F0F2F5;
}

.custom-scroll::-webkit-scrollbar{
    display: none;
}